.root {
    -fx-font-family: "Arial Black";
}

.button {
    -fx-background-color: #ba00ff;
    -fx-text-fill: #090909;
    -fx-padding: 12px;
    -fx-border-radius: 7px;
    -fx-background-radius: 6px;
}

.chart {
    -fx-background-color: #f4ed31;
}

.table-view {
    -fx-background-color: #000000;
}
